<ul id="task-list" class="list-unstyled">   

{{#each itemController='task'}}
  <li {{bind-attr class='isCompleted:completed isEditing:editing row'}}> 
    {{input type='checkbox' checked=isCompleted}}
    <label {{action 'editTask' on='doubleClick'}}>{{title}}</label>
    <i {{action 'removeTask'}}  class='glyphicon glyphicon-remove'></i>
  </li> 

  {{/each}}

</ul>
