<section id='taskapp'>
  <div class="row"> 
    <h1 class="text-center spacer" id="title">Tasks</h1>
    <div class="col-md-8 col-md-offset-2"> 

    <div class="btn-group btn-group-justified" id="filters">
      {{link-to 'All' 'tasks.index' class='btn btn-lg btn-default' activeClass='btn-primary'}}
      {{link-to 'Active' 'tasks.active' class='btn btn-lg btn-default' activeClass='btn-primary'}}
      {{link-to 'Completed' 'tasks.completed' class='btn btn-lg btn-default' activeClass='btn-primary'}}
    </div>


      <section id='main'>
        {{outlet}}

      </section>

      <div class="form-group spacer">
        {{input type='text' class="form-control" id='new-task' placeholder='What needs to be done?' value=newTitle action='createTask'}} 
      </div> 


  <footer id='footer'>
    <div class="row spacer text-center"> 
    <span id='task-count'>
      <strong>{{active.length}}</strong> {{inflection}} left
    </span>
    {{#if hasCompleted}}
      <button id='clear-completed' class="btn btn-success" {{action 'clearCompleted'}}>
        Clear completed 
        <span class="badge badge-inverse">{{completed.length}}</span>
      </button>
    {{/if}}
  </div> 
  </footer>
</section>

<footer id='info'>
  <p>Click to edit a task.</p>
</footer>

</div> 
</div> 
